<h2>Step 2: Select your config and options</h2>

<div class="container" *ngIf="option">
  <div class="row">
    <div class="col-md-6">
      <label for="configSelect" class="form-label">Config</label>
      <select
        id="configSelect"
        [ngModel]="carService.selectedConfigCode"
        (ngModelChange)="onSelectedCarConfigChange($event)"
      >
        <option value="-1">Choose...</option>
        <option *ngFor="let configItem of this.configs" [value]="configItem.id">
          {{ configItem.description }}
        </option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="carService.selectedConfig; let config">
    <div class="col-md-6">
      <h4>
        Range: {{ config.range }} miles - Max speed: {{ config.speed }} - Cost: {{ config.price | currency : "USD" }}
      </h4>
    </div>
  </div>
  <div class="row" *ngIf="option.yoke">
    <div class="col-md-6">
      <label for="includeYoke" class="form-label"
      >Yoke steering wheel</label
      >
      <input
        id="includeYoke"
        type="checkbox"
      />
    </div>
  </div>
  <div class="row" *ngIf="option.towHitch">
    <div class="col-md-6">
      <label for="includeYoke" class="form-label"
      >Yoke steering wheel</label
      >
      <input
        id="includeTow"
        type="checkbox"
      />
    </div>
  </div>
  <div class="row">
    <app-car-image></app-car-image>
  </div>
</div>


