<!--
<h2>Step 2: Select your config and options</h2>

<form class="row" [formGroup]="configForm">
  <div class="form-group">
    <label for="configSelect">Config</label>
    <select class="form-control" id="configSelect" formControlName="config">
      <option value="" selected>Choose...</option>
      <option *ngFor="let config of option?.configs" value="{{config.id}}">{{ config.description }}</option>
    </select>

    <div *ngIf="config">
      <h4>Range: {{ config.range }} miles - Max speed: {{ config.speed }} -
        Cost: {{ config.price | currency : 'USD' }}</h4>
    </div>
  </div>

  <div class="form-group row" *ngIf="this.option?.towHitch">
    <div class="col-sm-12">
      <label for="includeTow">Tow hitch?</label>
      <input formControlName="towHitch" type="checkbox" id="includeTow"/>
    </div>
  </div>
  <div class=" form-group row" *ngIf="this.option?.yoke">
    <div class="col-sm-12">
      <label for="includeYoke">Yoke steering wheel?</label>
      <input formControlName="yoke" type="checkbox" id="includeYoke"/>
    </div>
  </div>
</form>
<div>
  <app-car-image></app-car-image>
</div>
-->
<p>step two works</p>
