<h2>Step 1: Choose your Model and color</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label" for="modelSelect">Model</label>
      <select
        id="modelSelect"
        [ngModel]="carService.selectedModelCode"
        (ngModelChange)="onModelChange($event)"
      >
        <option value="-1">Choose...</option>
        <option *ngFor="let opt of models" [value]="opt.code">
          {{ opt.description }}
        </option>
      </select>
    </div>
    <div class="col">
      <div class="mb-3" *ngIf="carService.selectedModelCode !== '-1'">
        <label class="form-label" for="colorSelect">Color</label>
        <select
          id="colorSelect"
          [ngModel]="carService.selectedColorCode"
          (ngModelChange)="onColorChange($event)"
        >
          <option *ngFor="let color of colors" [value]="color.code">
            {{ color.description }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <app-car-image></app-car-image>
  </div>
</div>



