<h2>Step 1: Choose your Model and color</h2>

<form class="row" [formGroup]="modelForm">
  <div class="form-group">
    <label for="modelSelect">Model</label>
    <select class="form-control" id="modelSelect" formControlName="model" (change)="onModelChange()">
      <option value="" selected>Choose...</option>
      <option *ngFor="let model of models" value="{{model.code}}">{{model.description}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="carService.selectedModelCode">
    <label for="colorSelect">Color</label>
    <select class="form-control" id="colorSelect" formControlName="color" (change)="onColorChange()">
      <option *ngFor="let color of colors" value="{{color.code}}">{{color.description}}</option>
    </select>
  </div>
</form>
<div>
  <app-car-image></app-car-image>
</div>

