<h2>Step 1: Choose your Model and color</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label" for="modelSelect">Model</label>
      <select
        id="modelSelect"
        [ngModel]="carService.selectedCar.selectedModel?.code || 'choose'"
        (ngModelChange)="onModelChange($event)"
      >
        <option selected value="choose">Choose...</option>
        <option *ngFor="let model of models" [value]="model.code">
          {{ model.description }}
        </option>
      </select>
    </div>

    <div class="col-md-6" *ngIf="carService.selectedCar.selectedModel?.code">
      <label class="form-label" for="modelSelect">Model</label>
      <select
        id="colorSelect"
        [ngModel]="carService.selectedCar.selectedColor?.code"
        (ngModelChange)="onColorChange($event)"
      >
        <option *ngFor="let color of colors" [value]="color.code">
          {{ color.description }}
        </option>
      </select>
    </div>

  </div>
  <div class="row">
    <app-car-image></app-car-image>
  </div>
</div>



