.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  ul.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 0;
    padding-left: 0;

    li {
      width: 100%;

      a button {
        width: 100%;
        border: 1px solid white;
      }
    }
  }
}
